<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Journal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="currentUser">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile">Update my profile</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Publications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/add-article">Ajouter une publication</a>
          <a class="dropdown-item" routerLink="/profileArticle">Mes publications</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="!currentUser"><a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a></li>
      <li *ngIf="!currentUser"><a class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a></li>
      <li *ngIf="currentUser"><a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a></li>
    </ul>

  </div>
</nav>
<div class="row">
  <div class="col-1" *ngIf="currentUser">
    <div class="sidenav">

            <div class="card hovercard">
              <div class="cardheader">
                <img alt="" height="100%" src="{{user.imageCouverture}}" width="100%">
              </div>
              <div class="avatar">
                <img alt="" src="{{user.image}}">
              </div>
              <div class="info">
                <div class="title">
                  <a style="font-size: 18px;" href="/profile">{{user.firstName}} {{user.lastName}}</a>
                </div>
                <div class="desc">{{user.about}}</div>
                <div class="desc">{{user.hobbies}}</div>
              </div>
              <div class="bottom">
                <a class="btn btn-social-icon btn-facebook" target="_blank" href="{{user.facebookLink}}">
                  <span class="fa fa-facebook"></span>
                </a>
                <a class="btn btn-social-icon btn-twitter" target="_blank" href="{{user.twitterLink}}">
                  <span class="fa fa-twitter"></span>
                </a>
              </div>
            </div>


        </div>


  </div>
  <div class="col-11">
    <router-outlet></router-outlet>
  </div>
</div>


